<div id="bread-wrp" class="page-description">
	<div id="bread">
		<h1>Code Analysis</h1>

		<div class="bread-info-btn">
			<i class="glyphicons glyphicons-info-sign"></i>
			<div class="page-description-content-wrapper">
				<div class="triangle"></div>
				<div class="page-description-content">
                    This plugin uses RIPS to analyse the PHP code of an application deployed in ZendServer. For more
                    details please visit our documentation at
                    <a href="https://kb.ripstech.com" target="_blank"><strong>kb.ripstech.com</strong></a>.
				</div>
			</div>
		</div>

		<ul>
			<li><a href="/ZendServer/#!/code-analysis">Code Analysis</a></li>
		</ul>
	</div>
</div>

<nav id="new-tabs-container">
    <ul>
        <li ng-click="ui.activateTab('Scans');" class="diagonal-tab" ng-class="{'active': (ui.activeTab == 'Scans')}">Scans</li>
        <li ng-click="ui.activateTab('New');" class="diagonal-tab" ng-class="{'active': (ui.activeTab == 'New')}">New Scan</li>
        <li ng-click="ui.activateTab('NewFromDocRoot');" class="diagonal-tab" ng-class="{'active': (ui.activeTab == 'NewFromDocRoot')}">New Scan from Document Root</li>
        <li ng-click="ui.activateTab('Settings');" class="diagonal-tab" ng-class="{'active': (ui.activeTab == 'Settings')}">Settings</li>
    </ul>
</nav>

<div class="tab-section" ng-if="ui.activeTab == 'Scans'">
    <div ng-if="!scans.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

    <div ng-if="scans.initialLoadFinished" style="padding: 20px;">
        <div style="text-align: right; margin: 0 0 10px 0;">
            <span ng-show="!scans.loading">
                <a class="btn btn-default" ng-click="scans.load()">Refresh</a>
            </span>
                <span ng-show="scans.loading">
                <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Refresh</a>
            </span>
        </div>

        <table class="zgrid" ng-if="scans.initialLoadFinished">
            <tr>
                <th style="width: 80px;">Id</th>
                <th>Application</th>
                <th>Version</th>
                <th style="width: 150px;">Progress</th>
                <th style="width: 150px;">Risk</th>
                <th style="padding-right: 10px; width: 250px;">
                    Results
                    <table class="severities">
                        <tr>
                            <th>Critical</th>
                            <th>High</th>
                            <th>Medium</th>
                            <th>Low</th>
                        </tr>
                    </table>
                </th>
                <th style="width: 90px;">&nbsp;</th>
            </tr>
            <tr ng-repeat="scan in scans.scans track by scan.id">
                <td>{{scan.id}}</td>
                <td>
                    <a href="{{scans.ui_url}}/main/(applications/{{scan.application.id}}//sidebar:scans/{{scan.application.id}})"
                       target="_blank">
                        {{scan.application.name}}
                    </a>
                </td>
                <td>
                    <a href="{{scans.ui_url}}/main/(scans/{{scan.application.id}}/{{scan.id}}//sidebar:types/{{scan.application.id}}/{{scan.id}}/0)"
                       target="_blank">
                        {{scan.version}}
                    </a>
                </td>
                <td>
                    <i class="fa fa-spinner fa-spin" ng-if="scan.percent != 100"></i>
                    {{scan.percent}}%
                    <br/>
                    <div class="progress-bar" style="width: {{scan.percent}}%;"
                         ng-class="{'severity-critical-bg': scan.percent<=25, 'severity-high-bg': scan.percent>25 && scan.percent <=50, 'severity-medium-bg': scan.percent>50 && scan.percent <=75, 'severity-low-bg': scan.percent>75}">
                    </div>
                </td>
                <td>
                    {{scan.risk}}%
                    <br/>
                    <div class="progress-bar risk">
                        <div class="spoint" style="left: {{scan.risk}}%"></div>
                    </div>
                </td>
                <td>
                    <table class="severities">
                        <tr>
                            <td class="severity-critical">{{scan.severity_distributions.Critical}}</td>
                            <td class="severity-high">{{scan.severity_distributions.High}}</td>
                            <td class="severity-medium">{{scan.severity_distributions.Medium}}</td>
                            <td class="severity-low">{{scan.severity_distributions.Low}}</td>
                        </tr>
                    </table>
                </td>
                <td class="details">
                    <button ng-click="viewScanDetails(scan)">Details</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="tab-section" ng-if="ui.activeTab == 'New'">
    <div ng-if="!scan.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

    <div ng-if="scan.initialLoadFinished" class="settings-wrapper">
        <h2>Settings</h2>

        <form ng-submit="scan.save()">
            <table class="zend-form-table">
                <tr>
                    <td colspan="2">
                        <span ng-show="!scan.loading">
                            <a class="btn btn-default" ng-click="scan.load()">Refresh</a>
                        </span>
                        <span ng-show="scan.loading">
                            <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Refresh</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="zendApps">Application to scan</label></td>
                    <td>
                        <select id="zendApps" ng-model="scan.selectedZendApp">
                            <option value="0">-- please select --</option>
                            <option ng-repeat="option in scan.zendApps" value="{{option.path}}">{{option.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="scan.selectedZendApp != 0">
                    <td><label for="ripsApps">Parent Application in RIPS</label></td>
                    <td>
                        <select id="ripsApps" ng-model="scan.selectedRipsApp">
                            <option value="0">-- please select --</option>
                            <option ng-repeat="option in scan.ripsApps" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="version">Version Name</label></td>
                    <td>
                        <input type="text" ng-model="scan.version" id="version" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span ng-show="!scan.isSaving">
                            <a class="btn btn-blue" ng-click="scan.save()" ng-disabled="!scan.initialLoadFinished">Start Scan</a>
                        </span>
                        <span ng-show="scan.isSaving">
                            <a class="btn btn-blue" disabled><i class="fa fa-spinner fa-spin"></i> Start Scan</a>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="tab-section" ng-if="ui.activeTab == 'NewFromDocRoot'">
    <div ng-if="!scanFromDocRoot.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

    <div ng-if="scanFromDocRoot.initialLoadFinished" class="settings-wrapper">
        <h2>Settings</h2>

        <form ng-submit="scanFromDocRoot.save()">
            <table class="zend-form-table">
                <tr>
                    <td colspan="2">
                        <span ng-show="!scan.loading">
                            <a class="btn btn-default" ng-click="scanFromDocRoot.load()">Refresh</a>
                        </span>
                        <span ng-show="scan.loading">
                            <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Refresh</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="docRootSet">Doc Roots available to scan</label></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                    	<table class="zgrid rips-scan-docroot" ng-if="scans.initialLoadFinished">
            				<tr>
				                <th></th>
				                <th>Document Root</th>
				                <th>Hostname</th>
				                <th>Config File</th>
	                		</tr>
            				<tr ng-repeat="item in scanFromDocRoot.docRootSet">
					       		<td class="cb">
					       			<input type="radio" name="docRoot"
					             	ng-model="scanFromDocRoot.selectedDocRoot"
					             	ng-value="item.id">
					             </td>
					             <td class="docroot">{{item.doc_root}}</td>
					             <td class="name">{{item.name}}</td>
					             <td class="configfile">{{item.config_file}}</td>
							</tr>
						</table>
                    </td>
                </tr>
                <tr ng-if="scanFromDocRoot.selectedDocRoot != 0">
                    
                </tr>
                <tr>
                	<td>
                    	<textarea ng-model="scanFromDocRoot.scanSpec"></textarea>
                    </td>
                </tr>
                <tr>
                <td><label for="ripsApps">Parent Application in RIPS</label></td>
                    <td>
                        <select id="ripsApps" ng-model="scanFromDocRoot.selectedRipsApp">
                            <option value="0">-- please select --</option>
                            <option ng-repeat="option in scanFromDocRoot.ripsApps" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="version">Version Name</label></td>
                    <td>
                        <input type="text" ng-model="scanFromDocRoot.version" id="version" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span ng-show="!scanFromDocRoot.isSaving">
                            <a class="btn btn-blue" ng-click="scanFromDocRoot.save()" ng-disabled="!scanFromDocRoot.initialLoadFinished">Start Scan</a>
                        </span>
                        <span ng-show="scanFromDocRoot.isSaving">
                            <a class="btn btn-blue" disabled><i class="fa fa-spinner fa-spin"></i> Start Scan</a>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="tab-section" ng-if="ui.activeTab == 'Settings'">
    <div ng-if="!settings.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

    <div ng-if="settings.initialLoadFinished" class="settings-wrapper">
        <h2>Settings</h2>

        <form ng-submit="settings.save()">
            <table class="zend-form-table">
                <tr>
                    <td><label for="api_url">API URL</label></td>
                    <td>
                        <input type="text" ng-model="settings.api_url" id="api_url" />
                    </td>
                </tr>
                <tr>
                    <td><label for="ui_url">UI URL</label></td>
                    <td>
                        <input type="text" ng-model="settings.ui_url" id="ui_url" />
                    </td>
                </tr>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                        <input type="text" ng-model="settings.username" id="username" />
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <input type="password" ng-model="settings.password" id="password" />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <span ng-show="!settings.isTesting">
                            <a class="btn btn-default" ng-click="settings.test()">Test Connection</a>
                        </span>
                        <span ng-show="settings.isTesting">
                            <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Test Connection</a>
                        </span>

                        <span class="test-badge" ng-show="settings.isTestSuccessful && settings.initialTestFinished">
                            <i class="glyphicons glyphicons-ok-sign"></i>
                        </span>

                        <span class="test-badge" ng-show="!settings.isTestSuccessful && settings.initialTestFinished">
                            <i class="glyphicons glyphicons-remove-sign"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span ng-show="!settings.isSaving">
                            <a class="btn btn-blue" ng-click="settings.save()" ng-disabled="!settings.initialLoadFinished">Save</a>
                        </span>
                            <span ng-show="settings.isSaving">
                            <a class="btn btn-blue" disabled><i class="fa fa-spinner fa-spin"></i> Save</a>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
