<div id="bread-wrp" class="page-description">
	<div id="bread">
		<h1>Code Analysis</h1>

		<div class="bread-info-btn">
			<i class="glyphicons glyphicons-info-sign"></i>
			<div class="page-description-content-wrapper">
				<div class="triangle"></div>
				<div class="page-description-content">
                    This plugin uses RIPS to analyse the PHP code of an application deployed in ZendServer. For more
                    details please visit our documentation at
                    <a href="https://kb.ripstech.com" target="_blank"><strong>kb.ripstech.com</strong></a>.
				</div>
			</div>
		</div>

		<ul>
			<li><a href="/ZendServer/#!/code-analysis">Code Analysis</a></li>
		</ul>
	</div>
</div>

<nav id="new-tabs-container">
    <ul>
        <li ng-click="ui.activateTab('Scans');"
            class="diagonal-tab"
            ng-class="{'active': (ui.activeTab == 'Scans')}">
            Scans
        </li>
        <li ng-click="ui.activateTab('New');"
            class="diagonal-tab"
            ng-class="{'active': (ui.activeTab == 'New')}">
            New Scan
        </li>
        <li ng-click="ui.activateTab('NewFromDocRoot');"
            class="diagonal-tab"
            ng-class="{'active': (ui.activeTab == 'NewFromDocRoot')}">
            New Scan from Document Root
        </li>
        <li ng-click="ui.activateTab('Settings');"
            class="diagonal-tab"
            ng-class="{'active': (ui.activeTab == 'Settings')}">
            Connection Settings
        </li>
    </ul>
</nav>

<div class="tab-section" ng-if="ui.activeTab == 'Scans'">
    <div ng-if="!scans.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

	<div ng-if="scans.initialLoadFinished && !scan.signedIn" style="padding: 20px;">
		<p>There's no valid connection to a RIPS server.</p>
		<p>Please check the <a class="btn btn-blue" ng-click="ui.activeTab = 'Settings'">Connection Settings</a></p>
	</div>
	
    <div ng-if="scans.initialLoadFinished && scan.signedIn" style="padding: 20px;">
        <div style="text-align: right; margin: 0 0 10px 0;">
            <span ng-show="!scans.loading">
                <a class="btn btn-default" ng-click="scans.load(false)">Refresh</a>
            </span>
            <span ng-show="scans.loading">
                <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Refresh</a>
            </span>
        </div>

        <table class="zgrid" ng-if="scans.initialLoadFinished">
            <tr>
                <th style="width: 80px;">Id</th>
                <th>Application</th>
                <th>Version</th>
                <th style="width: 150px;">Progress</th>
                <th style="width: 150px;">Risk</th>
                <th style="padding-right: 10px; width: 250px;">
                    Results
                    <table class="severities">
                        <tr>
                            <th>Critical</th>
                            <th>High</th>
                            <th>Medium</th>
                            <th>Low</th>
                        </tr>
                    </table>
                </th>
                <th style="width: 90px;">&nbsp;</th>
            </tr>
            <tr ng-repeat="scan in scans.scans track by scan.id">
                <td>{{scan.id}}</td>
                <td>
                    <a href="{{scans.ui_url}}/application/{{scan.application.id}}"
                       target="_blank">
                        {{scan.application.name}}
                    </a>
                </td>
                <td>
                    <a href="{{scans.ui_url}}/scan/{{scan.application.id}}/{{scan.id}}"
                       target="_blank">
                        {{scan.version}}
                    </a>
                </td>
                <td>
                    <i class="fa fa-spinner fa-spin" ng-if="scan.percent != 100"></i>
                    {{scan.percent}}%
                    <br/>
                    <div class="progress-bar" ng-style="{'width': scan.percent + '%'}"
                         ng-class="{'severity-critical-bg': scan.percent<=25, 'severity-high-bg': scan.percent>25 && scan.percent <=50, 'severity-medium-bg': scan.percent>50 && scan.percent <=75, 'severity-low-bg': scan.percent>75}">
                    </div>
                </td>
                <td>
                    {{scan.risk}}%
                    <br/>
                    <div class="progress-bar risk">
                        <div class="spoint" ng-style="{'left': scan.risk + '%'}"></div>
                    </div>
                </td>
                <td>
                    <table class="severities">
                        <tr>
                            <td class="severity-critical">{{scan.severity_distributions.critical}}</td>
                            <td class="severity-high">{{scan.severity_distributions.high}}</td>
                            <td class="severity-medium">{{scan.severity_distributions.medium}}</td>
                            <td class="severity-low">{{scan.severity_distributions.low}}</td>
                        </tr>
                    </table>
                </td>
                <td class="details">
                    <button ng-click="viewScanDetails(scan)">Details</button>
                </td>
            </tr>
        </table>

        <div style="text-align: center;" ng-show="scans.initialLoadFinished && scans.moreScansAvailable">
            <span ng-show="!scans.loading">
                <a class="btn btn-default" ng-click="scans.load(true)">Load more</a>
            </span>
            <span ng-show="scans.loading">
                <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Load more</a>
            </span>
        </div>
    </div>
</div>

<div class="tab-section" ng-if="ui.activeTab == 'New'">
    <div ng-if="!scan.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

	<div ng-if="scans.initialLoadFinished && !scans.signedIn" style="padding: 20px;">
		<p>There's no valid connection to a RIPS server.</p>
		<p>Please check the <a class="btn btn-blue" ng-click="ui.activeTab = 'Settings'">Connection Settings</a></p>
	</div>
	
    <div ng-if="scans.initialLoadFinished && scans.signedIn" class="settings-wrapper">
        <h2>New Scan</h2>

        <form ng-submit="scan.save()">
            <table class="zend-form-table">
                <tr>
                    <td colspan="2">
                        <span ng-show="!scan.loading">
                            <a class="btn btn-default" ng-click="scan.load()">Refresh</a>
                        </span>
                        <span ng-show="scan.loading">
                            <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Refresh</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="zendApps">Deployed Application to Scan</label>
                        <p class="help">Select an application that is deployed with Zend Server for code analysis.</p>
                    </td>
                    <td>
                        <select id="zendApps" ng-model="scan.selectedZendApp" ng-if="scan.zendApps && scan.zendApps.length > 0">
                            <option value="0">-- please select --</option>
                            <option ng-repeat="option in scan.zendApps" value="{{option.path}}">{{option.name}}</option>
                        </select>
                        <span ng-if="!scan.zendApps || scan.zendApps.length === 0">
                            <em>
                                Could not find a <a href="#!/applications/deployment">deployed application</a> in
                                your Zend Server installation.
                            </em>
                        </span>
                    </td>
                </tr>
                <tr ng-if="scan.selectedZendApp != 0">
                    <td>
                        <label for="ripsApps">Parent Application in RIPS</label>
                        <p class="help">
                            Select a previously scanned application in RIPS to perform a rescan of a previous scan, or
                            create a new application.<br/>
                            <a href="https://kb.ripstech.com/display/DOC/Scans" target="_blank">More Information</a>
                        </p>
                    </td>
                    <td>
                        <select id="ripsApps" ng-model="scan.selectedRipsApp">
                            <option value="0">-- create new application --</option>
                            <option ng-repeat="option in scan.ripsApps" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="scan.selectedZendApp != 0 && scan.selectedRipsApp == 0">
                    <td>
                        <label for="newAppName">New Application Name</label>
                        <p class="help">The name of your application that will be used for analysis in RIPS.</p>
                    </td>
                    <td>
                        <input type="text" ng-model="scan.newAppName" id="newAppName" />
                    </td>
                </tr>
                <tr ng-if="scan.selectedZendApp != 0">
                    <td>
                        <label for="version">Version Name</label>
                        <p class="help">The version identifier of your application, e.g. v1.5.</p>
                    </td>
                    <td>
                        <input type="text" ng-model="scan.version" id="version" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span ng-show="!scan.isSaving">
                            <a class="btn btn-blue" ng-click="scan.save()" ng-disabled="!scan.initialLoadFinished">Start Scan</a>
                        </span>
                        <span ng-show="scan.isSaving">
                            <a class="btn btn-blue" disabled><i class="fa fa-spinner fa-spin"></i> Start Scan</a>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="tab-section" ng-if="ui.activeTab == 'NewFromDocRoot'">
    <div ng-if="scanFromDocRoot.loading" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>
    
    <div ng-if="scanFromDocRoot.initialLoadFinished && !scanFromDocRoot.signedIn" style="padding: 20px;">
		<p>There's no valid connection to a RIPS server.</p>
		<p>Please check the <a class="btn btn-blue" ng-click="ui.activeTab = 'Settings'">Connection Settings</a></p>
	</div>

    <div ng-if="scanFromDocRoot.initialLoadFinished && scanFromDocRoot.signedIn" class="settings-wrapper">
        <h2>New Scan from Document Root</h2>

        <form ng-submit="scanFromDocRoot.save()">
            <table class="zend-form-table">
                <tr>
                    <td colspan="2">
                        <span ng-show="!scanFromDocRoot.loadingrefresh">
                            <a class="btn btn-default" ng-click="scanFromDocRoot.load()">Refresh</a>
                        </span>
                        <span ng-show="scanFromDocRoot.loadingrefresh">
                            <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Refresh</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label for="docRootSet">Doc Roots available to scan</label></td>
                </tr>
                <tr>
                    <td colspan="2">
                    	<table class="zgrid rips-scan-docroot" ng-if="scans.initialLoadFinished">
            				<tr>
				                <th></th>
				                <th>Document Root</th>
				                <th>Hostname</th>
				                <th>Config File</th>
	                		</tr>
            				<tr ng-repeat="item in scanFromDocRoot.docRootSet">
					       		<td class="cb">
					       			<input type="radio" name="docRoot"
					             	ng-model="scanFromDocRoot.selectedDocRoot"
					             	ng-value="item.id">
					             </td>
					             <td class="docroot">{{item.doc_root}}</td>
					             <td class="name">{{item.name}}</td>
					             <td class="configfile">{{item.config_file}}</td>
							</tr>
						</table>
                    </td>
                </tr>
                <tr>
                	<td colspan="2" ng-if="!scanFromDocRoot.hasScanSpec && scanFromDocRoot.selectedDocRoot != 0">
                		<div class="settings-form-wrapper">
            				<i class="fa fa-spin fa-spinner"></i> Loading...
        				</div>
                	</td>
                </tr>
                <tr ng-if="scanFromDocRoot.hasScanSpec">
                	<td colspan="2">
                		<label for="spanSpec">Files and directories to be scanned:</label><br />
                    	<textarea id="spanSpec" ng-model="scanFromDocRoot.scanSpec"></textarea>
                    </td>
                </tr>
                <tr ng-if="scanFromDocRoot.hasScanSpec">
                	<td>
                        <label for="ripsApps">Parent Application in RIPS</label>
                        <p class="help">
                            Select a previously scanned application in RIPS to perform a rescan of a previous scan, or
                            create a new application.<br/>
                            <a href="https://kb.ripstech.com/display/DOC/Scans" target="_blank">More Information</a>
                        </p>
                    </td>
                    <td>
                        <select id="ripsApps" ng-model="scanFromDocRoot.selectedRipsApp">
                            <option value="0">-- create new application --</option>
                            <option ng-repeat="option in scanFromDocRoot.ripsApps" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="scanFromDocRoot.hasScanSpec && scanFromDocRoot.selectedRipsApp == 0">
                    <td>
                        <label for="newAppNameDoc">New Application Name</label>
                        <p class="help">The name of your application that will be used for analysis in RIPS.</p>
                    </td>
                    <td>
                        <input type="text" ng-model="scanFromDocRoot.newAppName" id="newAppNameDoc" />
                    </td>
                </tr>
                <tr ng-if="scanFromDocRoot.hasScanSpec">
                    <td>
                        <label for="version">Version Name</label>
                        <p class="help">The version identifier of your application, e.g. v1.5.</p>
                    </td>
                    <td>
                        <input type="text" ng-model="scanFromDocRoot.version" id="version" />
                    </td>
                </tr>
                <tr ng-if="scanFromDocRoot.hasScanSpec">
                    <td colspan="2">
                        <span ng-show="!scanFromDocRoot.isSaving">
                            <a class="btn btn-blue" ng-click="scanFromDocRoot.save()" ng-disabled="!scanFromDocRoot.initialLoadFinished">Start Scan</a>
                        </span>
                        <span ng-show="scanFromDocRoot.isSaving">
                            <a class="btn btn-blue" disabled><i class="fa fa-spinner fa-spin"></i> Start Scan</a>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="tab-section" ng-if="ui.activeTab == 'Settings'">
    <div ng-if="!settings.initialLoadFinished" class="tab-section" style="height: 50px; line-height: 50px;">
        <div class="settings-form-wrapper">
            <i class="fa fa-spin fa-spinner"></i> Loading...
        </div>
    </div>

    <div ng-if="settings.initialLoadFinished" class="settings-wrapper">
        <h2>Connection Settings</h2>

        <form ng-submit="settings.save()">
            <table class="zend-form-table">
                <tr>
                    <td>
                        <label for="api_url">API URL</label>
                        <p class="help">
                            The URL of your RIPS API, e.g. http://192.168.0.1:8080/.<br/>
                            <a href="https://kb.ripstech.com/display/DOC/Installing+RIPS" target="_blank">More Information</a>
                        </p>
                    </td>
                    <td>
                        <input type="text" ng-model="settings.api_url" id="api_url" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ui_url">UI URL</label>
                        <p class="help">
                            The base URL to your RIPS User Interface that is used to reference issues, e.g.
                            http://192.168.0.1/.
                        </p>
                    </td>
                    <td>
                        <input type="text" ng-model="settings.ui_url" id="ui_url" />
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td>
                        <input type="text" ng-model="settings.email" id="email" />
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <input type="password" ng-model="settings.password" ng-focus="settings.password = ''" id="password" placeholder="Enter your password"/>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <span ng-show="!settings.isTesting && settings.readyToTest">
                            <a class="btn btn-default" ng-click="settings.test()">Test Connection</a>
                        </span>
                        <span ng-show="settings.isTesting">
                            <a class="btn btn-default" disabled><i class="fa fa-spinner fa-spin"></i> Test Connection</a>
                        </span>

                        <span class="test-badge" ng-show="settings.isTestSuccessful && settings.initialTestFinished && settings.readyToTest">
                            <i class="glyphicons glyphicons-ok-sign"></i>
                        </span>

                        <span class="test-badge" ng-show="!settings.isTestSuccessful && settings.initialTestFinished && settings.readyToTest">
                            <i class="glyphicons glyphicons-remove-sign"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span ng-show="!settings.isSaving && settings.isTestSuccessful">
                            <a class="btn btn-blue" ng-click="settings.save()" ng-disabled="!settings.initialLoadFinished">Save</a>
                        </span>
                            <span ng-show="settings.isSaving">
                            <a class="btn btn-blue" disabled><i class="fa fa-spinner fa-spin"></i> Save</a>
                        </span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
